*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

nav{
  padding: 30px;
  background: rgba(12, 12, 12);
  position: fixed;
  width: 100%;
  z-index: 3;
  margin: 0px;
}

nav a{
  color: white;
  margin: 0 10px;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: red 1px solid;
}

.imagenPrincipal{
  position: relative;
}

.imagenPrincipal img{
  object-fit: cover;
  height: 550px;
  width: 100%;
  filter: brightness(50%);
}

.imagenPrincipal div{
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  top: 40%;
}

h1{
  font-size: 80px;
}

.imagenPrincipal div p{
  font-size: 40px;
}

.imagenPrincipal div hr{
  width: 50%;
  margin: 0 auto; 
}

.textoInicio{
  margin: 100px 50px 50px 50px;
}

.textoInicio h2{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
  text-align: center;
}

.textoInicio p{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.textoInicio article{
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

.imagenJuntoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagenJuntoTexto img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.titulosYTexto{
  padding: 0px;
}

.interLineado {
  margin-top: 50px;
}

footer {
  text-align: center;
  margin-top: 100px;
  padding: 80px 0;
  font-size: 20px;
  background-color: grey;
  color: white;
}

.formulario{
  text-align: center;
  justify-content: center;
  margin: 200px;
}

.formulario label{
  margin-bottom: 10px;
  font-size: 20px;
}

.formulario input, textarea{
  text-align: center;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 50px;
}


.contenedorFormulario div{
  margin: 10px;
}

form div{
  display: flex;
  flex-direction: column;
}

.botonStyled{
  padding: 20px;
}

.inicioMuseo {
  text-align: center;
  margin: 150px auto;
  padding: 40px;
  background: #f4f4f4;
  border-radius: 15px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inicioMuseo h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.inicioMuseo ul {
  list-style: none;
  padding: 0;
}

.inicioMuseo li {
  margin: 15px 0;
}

.inicioMuseo a {
  text-decoration: none;
  font-size: 20px;
  color: #0077cc;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.inicioMuseo a:hover {
  color: #0055aa;
  text-decoration: underline;
}